/*GLOBAL RESET*/
html, body, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Début du code */

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

@mixin degrade_bouton{
    background: linear-gradient($secondaire, $primaire);
}

.loading_spinner{
    visibility: hidden;
    border-top: 15px solid $primaire;
    border-bottom: 15px dotted $primaire;
    border-left: 15px solid $primaire;
    border-right: 15px solid $primaire;
    width: 80px;
    height: 80px;
    border-radius: 300px;
    animation: spinner 1.6s linear 2 backwards;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

@keyframes spinner{
    0%{
    visibility: visible;
      transform: rotate(0deg) scale(1);
    }
    50%{
      transform: rotate(180deg) scale(1.2);
      opacity: 1;
      border-top: 15px solid $secondaire;
      border-bottom: 15px dotted $secondaire;
      border-left: 15px solid $secondaire;
      border-right: 15px solid $secondaire;
    }
     100%{
      transform: rotate(360deg) scale(1);
    }
  }


@keyframes accueil{
    from{
        visibility: hidden;
    }
    to{
        visibility: hidden;
    }
}
.bloc_page{
    visibility: visible;
    font-family: roboto;    
    font-size: 20px;
    animation: accueil 3.2s backwards;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    i{
        font-size: 20px;
        color: #000;
        position: absolute;
        left: 20px;
        bottom: 15px;
    }
    img{
        height: 30px;
        width: auto;
        margin: 10px 0;
    }
}


h1{
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 300;
}

h2{
    font-size: 30px;
    margin-top: 50px;
}

.localisation .container{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    align-items: center;
    padding: 15px;
    i{
        margin-right: 10px;
    }
    input{
        border: none;
        background: lightgrey;
        font-size: 21px;
        width: 160px;
        outline: none;
    }
}

.description{
    text-align: center;
    background-color: rgb(243, 243, 243);
    padding: 30px 5px 40px 5px;
    button{
        cursor: pointer;
        padding: 15px;
        font-size: 18px;
        border-radius: 30px;
        @include degrade_bouton();
        color: #FFF;
        border: none;
        box-shadow: 5px 5px 5px lightgrey;

    }
}


.fonctionnement .container{
    width: 88%;
    margin: auto; 
    background-color: #FFF; 
    margin-bottom: 40px;
    .mode_emploi{
        display: flex;
        flex-direction: column; 
        div{
            cursor: pointer;
            display: flex;
            background-color: rgb(243, 243, 243);
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 5px 5px 5px lightgrey;
            align-items: center;
            animation: apparition 1s 3.2s backwards;
                &:hover{
                    background-color: #f3e9ff;
                    i{
                        color: $primaire;
                    }
                }
        }
        i{
            margin-left: 20px;
            margin-right: 20px;
            color: grey;
            font-size: 25px;
        }
        .numero{
            background-color: $primaire;
            color: #FFF;
            padding: 2px 6px;
            border-radius: 35px;
            position: relative;
            left: -10px;
        }
    }

}

.restaurants{
    padding: 0 10px 40px 10px;
    background: rgb(243, 243, 243);
    .vignette_restaurant{
        display: block;
        height: 250px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 15px;
        overflow: hidden;
        text-decoration: none;
        position: relative;
        background-color: #fff;
        box-shadow: 5px 5px 5px lightgrey;
    }
    img{
        height: 70%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0px;
    }
    .nom_restaurant{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    div{
        color: #000;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    h3{
        margin: 0;
    }
    p{
        margin: 0;
    }
    .new{
        display: inline-block;
        background-color: $tertiaire;
        color: darken($color: $tertiaire, $amount: 40);
        padding: 7px 15px;
        border-radius: 3px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    i{
        font-size: 22px;
        color: #FFF;
        text-shadow: #000 0 0 3px;
        transition: 1s linear;
        &:hover{   
            text-shadow: none;
            background: -webkit-linear-gradient(45deg, $primaire, $secondaire);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

footer .container{border: 1px;
    background-color: rgb(92, 91, 91);
    color: #FFF;
    padding: 30px 15px;
    i{
        margin-right: 10px;
        width: 20px;
    }
    a{
        text-decoration: none;
        color: #FFF;
    }
    span{
        font-family: shrikhand;
        font-size: 25px;
        font-weight: 100;
    }
}


/* Pages restaurants */

.bloc_page_restaurant{
    background-color: rgb(247, 247, 247);

}
.photo{
    height: 300px;
    width: 100%;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/* .titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 20px;
    i{
        font-size: 25px;
        color: #FFF;
        text-shadow: #000 0 0 3px;
        transition: 1s linear;
        &:hover{   
            cursor: pointer;
            text-shadow: none;
            background: -webkit-linear-gradient(45deg, $primaire, $secondaire);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
 */
@keyframes apparition {
    from{
        opacity: 0;
        transform: translate(0, 10px);
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
    }
}


@keyframes check_rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes check_slide {
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 50px;
    }
}


.menu{
    background: rgb(247, 247, 247);
    border-radius: 20px 20px 0 0;
    padding-bottom: 30px;
    z-index: 99;
    position: relative;
    bottom: 40px;
    h2{
        font-size: 17px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        border-radius: 20px;
        i{
            font-size: 25px;
            color: #FFF;
            text-shadow: #000 0 0 3px;
            transition: 1s linear;
            &:hover{   
                cursor: pointer;
                text-shadow: none;
                background: -webkit-linear-gradient(45deg, $primaire, $secondaire);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .underline_menu{
        height: 3px;
        background: $tertiaire;
        width: 45px;
        margin-left: 10px;
    }
    strong{
        font-size: 17px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .plat{
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 5px lightgrey;
        &:hover .check i{
            animation: check_rotate 1s; 
        }
        &:hover .check{
            animation: check_slide 1s both;
        }
        &:hover .prix{
            animation: check_slide 1s both;
        }
    }
    .entrees{
        animation: apparition 1s backwards;
    }
    .plat_principal{
        animation: apparition 1s 0.5s backwards;
    }
    .desserts{
        animation: apparition 1s 1s backwards;
    }



    .intitule_plat{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .prix{
        display: flex;
        height: 100%;
        align-items: flex-end;
    }
    .check{
        background: $tertiaire;
        position: absolute;
        bottom: 0;
        right: -50px;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $tertiaire;
    }
    i{
        background: #FFF;
        padding: 5px;
        border-radius: 15px;
    }

}

.commander{
    button{
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 50px;
        border-radius: 35px;
        color: #FFF;
        margin: 0 auto 30px;    
        box-shadow: 5px 5px 5px lightgrey;
        @include degrade_bouton();
    }
}



@media (min-width: 900px) {
    body{
        width: 70%;
        margin: auto;
    }
    header img{
        width: 15%;
    }
    
    h2{
        font-size: 40px;
    }

    .fonctionnement .container .mode_emploi{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            width: 300px;
        }
    }

    .restaurants{
        margin: auto;
        .appercu_restaurants{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .vignette_restaurant{
            width: 300px;
        }
    }

    .menu{
        width: 70%;
        margin: auto;
        .titre{
        background: #fff;
        }
    }
}