@mixin degrade_bouton{
    background: linear-gradient($secondaire, $primaire);
}

@mixin flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box_shadow{
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
}