@media (min-width: 768px){
    .fonctionnement{
        .mode_emploi{
            width: 60%;
            margin: auto;
        }
    }
    .restaurants{
        .appercu_restaurants{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .vignette_restaurant{
                width: 48%;
            }
        }
    }

    .menu{
        padding: 0 15%;
    }
}






@media (min-width: 992px) {
    body{
        width: 70%;
        margin: auto;
    }
    header img{
        width: 15%;
    }
    
    h2{
        font-size: 40px;
    }

    .fonctionnement .container .mode_emploi{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        div{
            width: 300px;
        }
    }

    .restaurants{
        margin: auto;
        .appercu_restaurants{
            flex-wrap: nowrap;
            justify-content: space-around;
            .vignette_restaurant{
                width: 23%;
            }
       }
    }

    .menu{
        width: 60%;
        margin: auto;
        .titre{
        background: rgb(247, 247, 247);
        }
    }
}